.list-wrapper {
    background-color: red;
    height: fit-content;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* .list-wrapper-open {
} */

/* .list-wrapper-closed {
} */

.list-header {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    gap: 1%;
}

.list-content {
    padding: 1%;
}
