.item-wrapper {
    width: 99%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-header {
    display: flex;
    gap: 1%;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.associated-location-content {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
