.item-wrapper {
    width: 99%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
}

.item-header {
    display: flex;
    gap: 1%;
}

.item-content {
    display: flex;
    gap: 20%;
}
