#quest-list-wrapper {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#quest-list-wrapper-header {
    position: sticky;
    top: 1rem;
}

#quest-list-wrapper-header::before {
    content: "";
    position: absolute;
    top: calc(-1rem + 2px);
    display: block;
    background-color: rgb(14 22 31);
    width: 100%;
    height: calc(1rem - 2px);
}

/* .quest-list-individual-quest {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

/* .quest-list-individual-quest>p {
    margin-left: 1rem;
} */

.span-color-green {
    color: green;
}

.span-color-red {
    color: red;
}
