/* Dropdown styles */
#dropdown-wrapper {
    z-index: 1;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-areas:
        "main"
        "tab";
    height: 3rem;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -71%);
    transition: transform 0.1s ease-in-out;

    justify-items: center;
}

#dropdown-wrapper.dropdown-main-open {
    transform: translate(-50%, 0%);
}

.dropdown-component {
    background-color: rgba(14, 22, 31, 1);
    border-radius: 0 0 1rem 1rem;
}

.dropdown-pointer {
    cursor: pointer;
}

#dropdown-main {
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.dropdown-text-wrapper {
    text-align: center;
    margin: 0 1rem;
}

.dropdown-text:hover {
    text-decoration: underline;
}

#dropdown-tab {
    grid-area: tab;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

#dropdown-fa-icon {
    transition: transform 0.15s ease-in-out;
}

.dropdown-tab-open {
    transform: rotate(0.5turn);
}

/* Journal styles - things to do with Journal.jsx */
.journal {
    width: 40%;
    height: 100%;
    background-color: rgba(14, 22, 31, 0.5);
    color: white;
    grid-area: journal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#journal-front-page-container {
    /* display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "menu"; */
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    user-select: none;
}

.login-status {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
    grid-area: login;
}

/* .login-status > p {
    text-justify: inter-word;
} */

#seros-logo {
    height: 35vh;
    width: auto;
}

#journal-front-page-menu {
    grid-area: menu;
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%; /* Had issues with the previous value of 100% causing the last few entries to not appear on the screen when the user scrolled to the bottom */
    width: 100%;
    overflow-y: auto;
}

#journal-front-page-menu::-webkit-scrollbar {
    display: none;
}

#journal-front-page-menu-header {
    display: flex;
    width: 100%;
}

.journal-menu-wrapper {
    width: 100%;
}
