#journal-front-page-menu-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(14, 22, 31, 1);
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

#journal-front-page-menu-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
